.link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  margin-bottom: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #010101;
  border: 1px solid black;
  border-radius: 10%;
  margin: 10px;
}

.link:hover {
  color: #2196f3;
}
