.section_card {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}
.section_foto {
  display: block;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
  margin: 10px;
}

.section_info {
  display: block;
  max-width: 500px;
  margin: 10px;
}
.section_film {
  display: flex;
}
