.foto {
  display: block;
  width: 150px;
  height: 225px;
}
.cast__card {
  display: block;
  text-align: center;
  width: 150px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
}
.section__casts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
